@import url('../plugins/PruneCluster/dist/LeafletStyleSheet.css');
@font-face{
	font-family:testFont;
	src: url(../fonts/ClearSans/ClearSans-Thin.ttf);
}

@font-face{
	font-family:testFonts;
	src: url(../fonts/ClearSans/ClearSans-Bold.ttf);
}
@font-face{
	font-family:regular;
	src: url(../fonts/ClearSans/ClearSans-Regular.ttf);
}
@font-face{
	font-family:light;
	src: url(../fonts/ClearSans/ClearSans-Light.ttf);
}
@font-face{
	font-family:italic;
	src: url(../fonts/ClearSans/ClearSans-Italic.ttf);
}

body, table{
	color:#47525e;
	background-color:#EAF2F5;
	
}

h1.pageTitle{
	font-family: testFont;
	text-align: center;
	display: inline-block;
	margin: 0;
	/* padding-right: 40px; */
	font-size: 28px;
	line-height: 52px;
	vertical-align: text-bottom;
	font-weight: normal;
	color: white;
	box-shadow: 0px 2px 3px rgba(0,0,0, 0.5);
	background-color: #15A6B7; /*rgba(119,164,178, 1)*/
	width: 100%;
	position:absolute;
	z-index:5000;
	overflow:hidden; 
	height:57px;
	
	
}

#mapchartbox{
	min-height:640px;
}
#mapid{
	min-height:520px;
	width:100%;
	margin-top: 50px;
	background-color:#EAF2F5; /*rgba(225, 237, 241, 0.72) #D9ECF2; */ /*rgba(48, 68, 97, 0.13)*/
	position:relative;
}
#chart{
	min-height:120px;
	width:100%;
}

#nepalStatistics{
	font-family:regular;
	margin-top: 50px;
	min-height:295px;
	z-index:5000;
	background-color:#EAF2F5; /*#D9ECF2; */ /*rgba(48, 68, 97, 0.13)*/
		
}
#selectionStatistics{
	font-family:regular;
	min-height:345px;
	max-height:345px;
	overflow:hidden;
	z-index:5000;
	background-color:#EAF2F5; /*#D9ECF2; */ /*rgba(48, 68, 97, 0.13)*/
	
}
h2.sectionTitle{
	font-family:testFont;
	text-align:center;
	display: inline-block;
	margin-top: 3%;
	/* padding-right: 40px;  */
	font-size: 21px;
	line-height: 57px;
	vertical-align: text-bottom;
	font-weight: normal;
	color: white;
	box-shadow: 0px 2px 3px rgba(0,0,0, 0.5);
	background-color: #09B0A5 ; /* #0BB094 #0DCEAD, rgba(119,164,178, 1)*/
	width: 100%;
	/* position:absolute; z-index:5000; */
	overflow:hidden; 
	height:57px;
	
}

table .left{
	text-align:left !important;
	
}
table .center{
	text-align:center !important;
}
table .right{
	text-align:right !important;
	padding-right: 16px;
	
}
tr .highlighted{
	color:white !important;
}
th.th_left{
	text-align:left !important;
	padding-left: 16px;
	font-family: testFonts;
	color:#002D3F;
}
th.th_right{
	text-align:right !important;
	padding-right: 16px;
	font-family: testFonts; 
	color:#002D3F;
}


th.th_center{
	text-align:center !important;
	font-family: testFonts; 
	color:#002D3F;
}


table.center{
	margin-right:auto;
	margin-left:auto; 
	float:none;
}

div#block-everything{
	opacity:0.6;
	position:fixed;
	z-index:99000;
	height:100%;
	width:100%;
	display:none;
	background-color:#eaeab3;	
}

div#glassy-effect{
	/*opacity:1;*/
	position:fixed;
	z-index:98000;
	height:100%;
	width:100%;
}

#titleOpenStreetMap{
	color:white; 
	font-family:regular;
	margin:0px 0px 10px 30px; 
	letter-spacing:0.5px;
}

#titleStatisticsTool{
	color:white; 
	overflow:hidden; 
	font-family:testFont;
	margin:0px 0px 0px 0px; 
	letter-spacing:-1px;
}

#sectionOpenStreetMap{
	color: white;
	font-family:regular;
	letter-spacing:0.5px;
}

#sectionLeaderboards{
	overflow:hidden; 
	font-family:testFont;
	margin:0px 0px 0px 0px;
	letter-spacing:-1px
	padding-bottom:2px;
	/* border-bottom: 2px solid #fc721b; */
	
}


.ways{
	color:red;
	font-family:testFont;
}


.custom-tooltip{
	font-family: testFonts; 
	color:#002D3F
}

.tooltip{
	font-family: Regular;
	margin-top: 10px; 
	font-size: 12px;
	padding: 7px;
	font-weight:normal;
}

#tblNepalStatistics{
	line-height:10px;
}

hr.style-one {
	margin:0px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

