[submodule "plugins/PruneCluster"]
	path = plugins/PruneCluster
	url = https://github.com/SINTEF-9012/PruneCluster.git
[submodule "plugins/jsonstreamingparser"]
	path = plugins/jsonstreamingparser
	url = https://github.com/salsify/jsonstreamingparser.git
