[submodule "plugins/PruneCluster"]
	path = plugins/PruneCluster
	url = https://github.com/SINTEF-9012/PruneCluster.git
[submodule "phpjson"]
	path = plugins/phpjson
	url = https://github.com/salsify/jsonstreamingparser.git
